body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

#map{
  position: absolute;
  top:0;
  bottom:0;
  width:100%
}

h1 {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

#console {
  position: absolute;
  width: 300px;
  height: 25%;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
}

body,
html {
  height: 100%;
}

.session {
  margin-bottom: 20px;
}

.row {
  height: 12px;
  width: 100%;
}

.colors {
  background: linear-gradient(to right, #FFEDA0, #FED976, #FEB24C, #FD8D3C, #E31A1C, #BD0026, #800026 );
  margin-bottom: 5px;
}

.label {
  width: 17%;
  display: inline-block;
  text-align: center;
}




.leaflet-popup-content {
  text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

h1 {
  text-align: center;
}
.spot{
  width: 15px;
  height: 15px;
}
.gt9{
  background: rgb(57, 84, 99);
}
.gte7{
  background: rgb(87,123,143);
}
.gte5{
  background: rgb(124,172,197);
}
.gte3{
  background: rgb(187,219,239);
}
.lt3{
  background: rgb(207,222,231);
}