body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  float: right;
}

#map{
  position: relative;
  top:100px;
  bottom:10px;
  width:100%;
  height: 750px;
  padding-top: 10px;
  display: block;
  float: center;
}

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;

}

.container1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  padding-bottom: 100px;
  padding-top: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  display: block;
  color: black;
  height: fit-content;
}

h2 {
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 10px
}

h3 {
  font-size: 100px;
  line-height: 30px;
  font-weight: bold;
  display: block;
  color: black;
  height: fit-content;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

#console {
  position: absolute;
  width: 70%;
  height: 65%;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
}

#sliderbar {
  position: absolute;
  width: 100%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;

}

body,
html {
  height: 100%;
  width: auto;
}

.session {
  margin-bottom: 20px;
  height: fit-content;

}

.row {
  height: fit-content;
  width: 100%;
}

.colors {
  background: linear-gradient(to right, #d5e5f5, #9dd0eb, #5a9ec7, #2776b0, #04386e);
  margin-bottom: 5px;
}

.label {
  width: 17%;
  display: inline-block;
  text-align: center;
}


.leaflet-container{
  float: center;
}

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 14px 12px;
  font: 24px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend i {
  width: 30px;
  height:20px;
  float:left;
}

/* .legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
} */

h1 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.spot{
  width: 15px;
  height: 15px;
}
.gt9{
  background: rgb(57, 84, 99);
}
.gte7{
  background: rgb(87,123,143);
}
.gte5{
  background: rgb(124,172,197);
}
.gte3{
  background: rgb(187,219,239);
}
.lt3{
  background: rgb(207,222,231);
}
