.navbar-brand {
  color: rgb(76, 78, 179) !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  background-color: white;
}

.nav-link{
  color: rgb(76, 78, 179) !important;
}

body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.box {
  height: fit-content;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 20px;
  color:rgb(76, 78, 179); 
}

.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;

}

.container1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  padding-bottom: 100px;
  padding-top: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

h1{
  text-align: center;
  color:rgb(0, 0, 0);
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}


h2 {
  font-size: 50px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 10px
}

h3{
  color:rgb(116, 116, 116);
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  font-family:'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

#console {
  position: absolute;
  width: 95%;
  height: 65%;
  margin: 5px;
  padding: 10px 10px;
  background-color:  rgb(76, 78, 179);
}

#sliderbar {
  position: absolute;
  width: 95%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;

}

body{

  background: rgb(76, 78, 179);
}
.session {
  margin-bottom: 20px;
  height: 65%;
  width: 95%;
}


.colors {
  background: linear-gradient(to right, #d5e5f5, #9dd0eb, #5a9ec7, #2776b0, #04386e);
  margin-bottom: 5px;
}

.label {
  width: 17%;
  display: inline-block;
  text-align: center;
}


.leaflet-container{
  border-radius: 10px;
  height: 500px;
  }

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 14px 12px;
  font: 24px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(110, 110, 110);
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend i {
  width: 30px;
  height:20px;
  float:left;
}

/* .legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
} */


.spot{
  width: 15px;
  height: 15px;
}
.gt9{
  background: rgb(57, 84, 99);
}
.gte7{
  background: rgb(87,123,143);
}
.gte5{
  background: rgb(124,172,197);
}
.gte3{
  background: rgb(187,219,239);
}
.lt3{
  background: rgb(207,222,231);
}
.row {
  height: 150px;
  width: 100%;
}

#mapheight {
  height: 700px !important;
}